._header {

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px 2.5%;
    z-index: 999;
    background: #fff;

    .name {
        font-size: 28px;
        font-weight: bold;
    }

    .gnb {
        display: flex; 
        align-items: center;
        font-size: 18px;

        a {
            display: inline-block;
            + a {
                margin-left: em(20,18);
            }
        }

    }

    @include max(1024){

        .name {
            font-size: 24px;
        }

        .gnb {
            font-size: 16px;
        }

    }

    @include max(820) {

        padding: 15px 2.5%;

        .gnb {
            display: none;
        }

    }

}


.mob-header {

    position: fixed; 
    top: 0;
    right: 0;
    width: 80%;
    max-width: 400px;
    z-index: 9999;
    height: 100%;
    background: #fff;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    padding: 50px 2.5%;

    ul {
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        li {
            font-size: 40px;
            font-weight: bold;
            + li {
                margin-top: 1em;
            }
        }
    }
    

}
